<div class="container">

  <p>
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。
  </p>

  <div class="row">
    <h3>新着商品</h3>
　</div>
  <dic class="row">
    ここに商品一覧から情報をもってくる
  </div>






</div>
