<div class="container">
  <div class="row mt-3 mb-3">
    <h2>会員一覧</h2>
  </div>

  <table class="table"> <%#=style="width: 70%" (テーブルの横幅を調整するコード)%>
    <thead  class="thead-light">
      <tr>
        <th class="col-1">会員ID</th>
        <th class="col-2">氏名</th>
        <th class="col-2">メールアドレス</th>
        <th class="col-3">ステータス</th>
      </tr>
    </thead>
    <% @customers.each do |f| %>
    <tbody>
      <tr>
        <td class="col-1"><%= f.id %></td>
        <span>
         <td class="col-2"><%= link_to f.full_name, admin_customer_path(f.id) %></td>
        </span>
        <td class="col-2"><%= f.email %></td>
        <td class="col-3">
          <% if f.is_deleted == true %>
           <p class="text-secondary">退会</p>
          <% else f.is_deleted == false %>
           <p class="text-success">有効</p>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <%= paginate @customers %>

</div>
