<div class="container">
  <div class="row">
    <h2 class="bg-secondary text-dark">注文履歴一覧</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th class="col-3">購入日時</th>
        <th class="col-3">購入者</th>
        <th class="col-3">注文個数</th>
        <th class="col-3">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>